.fonte1 {
        font-family: "Abril Fatface", sans-serif;
    }

h1 span {
    display: block;
}    
* {
    margin: 0;
}

header {
    background-color: lightgray;
    color: black;
    padding: 0px 0px 0px 36px;
    box-shadow: 0px 4px 8px darkgray; 
}

    

.intro{
    background-image: url(CIDADE\ 1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 3px 28px;
}


.intotexto {
    font-family: 'Alatsi', sans-serif;
    background-color: rgba(214, 204, 204, 0.733);
    text-align: center;
    padding: 10px;
    width: 68%;
    border-radius: 25%;
    font-size: 14px;
    max-width: 407px;
    padding: 10%;
}

.subtitulo {
    font-family: 'Abhaya Libre', sans-serif;
}

body {
    font-family: 'Alegreya Sans', sans-serif; 
}

@media screen and (min-width:650px) {
    
    .intotexto {
        width: 65%;
        font-size: 18px;
    }
    
}

@media screen and (min-width:790px) {
    
    .intotexto {
        width: 50%;
    }
    
}

@media screen and (min-width:1024px) {
    
    .intotexto {
        width: 40%;
        font-size: 20px;
    }
    
}

.porquecidadessustentaveis {
    margin: 20px 50px 20px 25px;
}

.ospilaresdascidadessustentaveis {
    margin: 20px 0px 20px 0px;
}

.exploreexemplos{
    margin: 20px 50px 20px 0px;   
}

.container {
    display: flex; 
    align-items: center;
  }

  .container img {
    max-width: 237px; 
    margin-right: 10px; 
    margin-top: 20px;
  }

.existemvariascdd {
    margin: 20px 50px 0px 0px;   
}

.texto {
    background-color: rgba(214, 204, 204, 0.733);
    border-radius: 6%;
    padding: 3%;
}

footer {
    background-color: lightgray;
    color: black;
    padding: 10px 46px 24px 42px;
}


    
