.fonte1 {
        font-family: "Abril Fatface", sans-serif;
    }

h1 span {
    display: block;
}    

header {
    display: block;
    background-color: lightgray;
    color: black;
    padding: 0px 0px 0px 0px; 
}

    

.intro{
    background-image: url(CIDADE\ 1.png);
    height: 48vw;
    background-size: 100%;
    background-repeat: no-repeat;
}


p{
    background-color: rgba(214, 204, 204, 0.733);
    text-align: center;
    padding: 4% 3%;
    width: 17%;
    margin-left: 63%;
    border-radius: 25%;
}