.fonte1 {
font-family: 'Times New Roman', Times, serif;
}
header{

}
h1 span {
    display: block;
}
.cidade{
    width: 50%;
    border-radius: 67px;
    
}

.intro{
    background-image: url(CIDADE\ 1.png);
    height: 48vw;
    background-size: 100%;
    background-repeat: no-repeat;
}


p{
    background-color: rgba(214, 204, 204, 0.733);
    text-align: center;
    padding: 20% 0;
    width: 17%;
    margin-left: 60%;
}